body {
    font-family: Arial, sans-serif;
    background-color: #f2f4f8;
    padding: 40px;
    color: #333;
}

h1 {
    color: #2c3e50;
}

h2 {
    color: #34495e;
}

ul {
    background: white;
    padding: 15px;
    border-radius: 8px;
    width: fit-content;
    box-shadow: 0px 0px 5px #ccc;
}
